<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cat.ppicas.cleanarch">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".app.App"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/global__app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.activity.SearchCitiesActivity"
                android:label="@string/search_cities__title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
